# Dependencies

.DS_Store
/node_modules/
**/node_modules/
/.pnp
.pnp.js

# build / runtime
**/.react-router/
**/dist/
**/build/
**/.sanity
**/.vite/

# Turbo
.turbo

# Typescript
*.tsbuildinfo

# Dotenv and similar local-only files
*.local
